<% content_for :title do %>
    <%= @price_term.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_currencies.backend_price_terms_path %>">
    <i class="fa fa-gg-circle"></i> <%= t('.price_terms') %>
    </a> / <%= @price_term.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_currencies.new_backend_price_term_path
    }) %>
<% end %>

<div class="row">
    <div class="col-md-6">
        <% if @price_term.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <%= render 'form', price_term: @price_term %>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>